

      #articles {
        display: inline-block;
        overflow: auto;
        background-color: #f8f9fa;
      }

      #notes {}
      


      .banner {
        background-image: url("../img/scraper.jpg");
        background-repeat: no-repeat;
        height: 380px;
        box-shadow: 0 8px 10px lightgrey;

      }

      #getArticlesNote {

        text-align: center;
        width:100%;
      }

      .notespace {
        /*background-color: #f38f992e;*/
        background-color: #e2e0df;
        line-height: 16px;
      }