
 /*     #wrapper {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5%;
      }*/

      #articles {
        display: inline-block;
        overflow: auto;
        background-color: #f8f9fa;
        padding: 10px;
      }
      #notes {
        /*float: right;*/
        /*width: 30%;*/
      }
/*      textarea, input {
        display: block;
        width: 100%;
        background-color: #eae9ea;
      }
      input {
        height: 36px;
        font-size: 18px;
      }
      textarea {
        height: 200px;
        font-size: 18px;
      }*/

      .banner {
        background-image: url("../img/scraper.jpg");
        background-repeat: no-repeat;
        height: 380px;
        padding-bottom: 0px;
        margin-bottom:  10px;
        box-shadow: 0 8px 10px lightgrey;

      }